:root{
    /*Colors*/
    --color-primary: #EE5057;
    --color-secondary: #f5f5f5;
  
    /* Fonts */
    --font-primary: 'Roboto', sans-serif;
    --font-secondary:Verdana, Geneva, Tahoma, sans-serif;
    --font-text-size: 13px;
    --font-title-size: 20px;
    --font-size-section-title: 48px;

    /* Sizes */
    --size-primary: 25px;
    --margin-primary: 25px;
    --padding-primary: 25px;

    --height-primary: 120px;
    /* Breakpoints */
    --breakpoint-mobile: 768px;
}

@media (min-width: 768px) {
    .navbar{
        height: var(--height-primary);
    }
    .navbar .ofppt-nav-link.nav-link{
        padding: calc(var(--padding-primary) * 2) var(--padding-primary);
    }
    
}
    

.navbar .ofppt-nav-link.nav-link:hover{
    color: var(--color-secondary);
    background-color: var(--color-primary);
    
}
